body
{
    background: rgb(65,64,89);
background: linear-gradient(56deg, rgba(65,64,89,1) 0%, rgba(244,17,39,1) 44%, rgba(0,212,255,1) 100%);
}

 h1
{ 
     font-family: Arial;
     font-size: 22px;
}

.xD
{
    background-color: LightSteelBlue;
    text-align: center;
}
.text{
    text-align: right;
}

.colour
{
    color: #E93646;
}

.border
{
    border-style: solid;
}
.Wrapper{
    display: grid;
    grid-template-areas:
        'header'
        'main';
}
header{
    grid-area: header;
    background-color: #f1f1f1;
}
main{
    grid-area: main;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-areas: 's1 s2'
                         's1 s2';
    
}
section{
    font-size: 20px:
}
section:first-child{
    grid-area: s1;
    background-color: red;
}
section:nth-child(2){
    grid-area: s2;
    background-color: green;
}
.textright{
    text-align:right;
}
.textleft{
    text-align:left;
}