body
{
    background: rgb(65,64,89);
background: linear-gradient(56deg, rgba(65,64,89,1) 0%, rgba(244,17,39,1) 44%, rgba(0,212,255,1) 100%);
}

 h1
{ 
     font-family: Arial;
     font-size: 22px;
}

.xD
{
    background-color: LightSteelBlue;
    text-align: center;
}
.text{
    text-align: right;
}

.colour
{
    color: #E93646;
}

.border
{
    border-style: solid;
}